AlphabetDetection/cnn/character_font.npz
AlphabetDetection/models/result_0.pt
AlphabetDetection/models/result_1.pt
AlphabetDetection/models/result_2.pt
AlphabetDetection/models/result_3.pt
AlphabetDetection/models/result_4.pt
*.pyc
*.pt
canny.jpg
dilate.jpg
erode.jpg
gray.jpg
original.jpg
AlphabetDetection/example.py
AlphabetDetection/train_result.png
AlphabetDetection/시리얼_통신의_기초.pdf
CrossroadDetection/main.py
